numpy
pandas
statsmodels
pycaret==3.0.0
datetime
prophet==1.0.1
oauth2client==4.1.3
gspread==3.7.0
google-api-python-client==1.7.9
pymysql
sqlalchemy==1.4.46
pandas_datareader
bottleneck
sshtunnel
fbprophet
pytz
yfinance
ipykernel